.custom_text {
	text-align: center;
	color: black;
	font-size: 15px;
	padding-top: 35px;
}

.header-section {
	background-color: #78909c;
}

.sticky-footer {
	background-color: #78909c;
	color: #fff;
	font-family: abel;
	font-size: 14px;
}

.custom-button {
	box-shadow: none;
	color: red;
	float: left;
	font-size: 14px;
	height: 35px;
	margin: 7px 0 0 10px;
	padding: 10px;
	width: 220px;
}

.boxx {
	display: none;
}

.requiredField {
	color: red;
}

.labelcolor {
	color: red;
}

#about {
	
}

.seen {
	color: #222;
	background-color: #F3F3F3 !important; /* make this whatever you want */
	font-weight: bold;
}

.disableAnchor {
	pointer-events: none;
}

.gradeX {
	color: #222;
}

#spaceManagementForm label.error {
	display: inline;
	margin: 5px 0;
	color: #FF6C60;
	font-weight: 400;
}

#allocateSpaceForm label.error {
	display: inline;
	margin: 5px 0;
	color: #FF6C60;
	font-weight: 400;
}

.error {
	display: inline;
	margin: 5px 0;
	color: #FF6C60;
	font-weight: 400;
}

.modal-tc {
	width: 75%;
	font-weight: bolder;
	position: relative;
	margin: 10px
}

.label-size {
	color: #434f65;
	font-size: 20px;
	font-style: normal;
	margin-top: 0px;
}

.label-loc-size {
	font-size: x-small;
	color: #fff;
	background-color: #273238;
	font-style: normal;
	padding-left: 9px;
	padding-right: 9px;
	border-radius: 20px;
	margin-top: -5px;
}

.td-space {
	padding-left: 37px;
}

.req-table {
	float: left;
	position: relative;
	display: inline-block;
	padding: 12px;
	background-color: white;
}

.req-table:hover {
	background-color: blue;
}

.menu-col {
	height: 51px;
}

.well-style {
	padding-left: 9px;
	padding-top: 21px;
	overflow-wrap: normal;
	overflow-x: scroll;
	overflow-y: scroll;
	height: 140px;
}

.cf-style {
	width: 21px;
	height: 11px;
	font-size: 10px;
}

.cb-style {
	height: 46px;
	font-size: 10px;
	margin-left: 9px;
}

.heading-style {
	height: 10px;
	text-align: center;
	padding-top: initial;
}

/* New dashboard css starts from here */
.menu-left {
	float: left;
}
/* enable absolute positioning */
.inner-addon {
	position: relative;
	margin-top: 8px;
	/*	margin-left: 26px;*/
}

/* style glyph */
.inner-addon .glyphicon {
	position: absolute;
	padding: 10px;
	pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon {
	left: 0px;
}

.right-addon .glyphicon {
	right: 0px;
}

/* add padding  */
.left-addon input {
	padding-left: 30px;
}

.right-addon input {
	padding-right: 30px;
}

.search-input {
	border-radius: 30px !important;
}

.search-label {
	font-size: 12px;
	padding-top: 5px;
	text-transform: uppercase;
}

.notification-menu .dropdown-menu-usermenu {
	background: #cacaca;
	min-width: 200px;
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #aaa;
}

.notification-menu .dropdown-menu li a {
	color: #2a323f !important;
	font-weight: 600;
}

.notification-menu .dropdown-menu li a:hover {
	color: #fff;
}

.panel {
	border-radius: 50px !important;
}

.grid-icon {
	height: 75px;
	width: 75px;
	border-radius: 150px !important;
	margin-left: 8px !important;
	background: #fff;
}

.grid-text {
	height: 80px;
	padding: 0px !important;
}

.grid-text>h2 {
	color: #fff;
	font-size: 20px;
	padding-left: 10px;
}

.grid-text>p {
	color: #ccc;
	font-size: 13px;
	padding-left: 13px;
	margin-top: -32px
}

/* type 2 starts from here */
.grid-icon2 {
	height: 75px;
	width: 75px;
	border-radius: 150px !important;
	margin-left: 8px !important;
	background: #fff;
}

.grid-text2 {
	height: 80px;
	padding: 0px !important;
}

.grid-text2>h2 {
	color: #fff;
	font-size: 20px;
	padding-left: 10px;
	margin-top: 9px;
}

.grid-text2>p {
	color: #ccc;
	font-size: 13px;
	padding-left: 13px;
	margin-top: -32px
}

.grid-container {
	background-color: #424f62;
	padding-top: 15px;
	border-radius: 28px;
	margin-top: 0px;
	margin-top: 1%;
}

.panel {
	background-color: transparent !important;
}

.grid-img {
	margin-left: -10px;
	margin-top: 5px;
}

.grid-img2 {
	margin-left: -9px;
	margin-top: 6px;
}

.grid-img3 {
	margin-left: -10px;
	margin-top: 6px;
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.grid-img4 {
	margin-left: -9px;
	margin-top: 5px;
}

.main-content {
	margin-left: 0px !important;
}

.slider-box {
	background-color: #263238;
    /* border-radius: 15px; */
    border-top: 7px solid #f44336;
	height: 100px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

.right-box {
	background-color: #263238;
    border-top: 7px solid #f44336;
	color: #fff;
	height: 100px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.right-box-head {
	text-align: center;
	line-height: 45px;
	font-size: 22px;
	font-family: 'Scope One', serif;
}

.element {
	text-align: center;
}

/*.sticky-left-side {
	z-index: 0 !important;
}*/
.left-side-collapsed .logo-icon img {
	width: 40px !important;
	height: 40px !important;
}

.dropdown-menu-head .title {
	background-color: #37474F;
}

.left-side {
	background-color: #424F63 ! important;
	/*width: 0px !important;
}*/ .
	notification-menu .dropdown-menu: after{     
	border-bottom: 6px solid #fff !important;
}

.notification-menu .dropdown-menu li a:hover {
	color: #777 !important;
}

.notification-menu .dropdown-menu li .links:hover {
	color: #fff !important;
}

.imgbg.with-transition {
	transition: 1s;
}

.heading-style {
	height: 10px;
	text-align: center;
	padding-top: initial;
}

.time-align {
	text-align: right;
}

.content-style {
	overflow-x: scroll;
	overflow-y: scroll;
	height: inherit;
}

.pannel-style {
	padding-right: 7%;
}

.select-style {
	width: inherit;
	height: inherit;
}

.alert-style {
	background-color: #212832;
}

.section-style {
	margin-top: -20px;
}

.modal.in .modal-dialog {
	min-width: 60%;
}

.wrap {
	background-image: url("assets/images/dashboard/banner1.jpg");
}

.logo-style {
	background-color: gainsboro;
}

.panel {
	margin-bottom: 0px !important;
}

.table {
	margin-left: -26px !important;
}
.adv-table table.display thead th {
	white-space: nowrap;
	vertical-align: middle;
	padding-left: 14px;
	padding-right: 14px;
	background-color: #455A64;
	color: #fff;
}
