.custom_text {
	text-align: center;
	color: black;
	font-size: 15px;
	padding-top: 35px;
}

.header-section {
	background-color: #78909c;
}

.sticky-footer {
	background-color: #455A64;
	color: #fff;
	font-family: abel;
	font-size: 14px;
}

.custom-button {
	box-shadow: none;
	color: red;
	float: left;
	font-size: 14px;
	height: 35px;
	margin: 7px 0 0 10px;
	padding: 10px;
	width: 220px;
}

.boxx {
	display: none;
}

.requiredField {
	color: red;
}

.labelcolor {
	color: red;
}

#about {
	
}

.seen {
	color: #222;
	background-color: #F3F3F3 !important; /* make this whatever you want */
	font-weight: bold;
}

.disableAnchor {
	pointer-events: none;
}

.gradeX {
	color: #222;
}

#spaceManagementForm label.error {
	display: inline;
	margin: 5px 0;
	color: #FF6C60;
	font-weight: 400;
}

#allocateSpaceForm label.error {
	display: inline;
	margin: 5px 0;
	color: #FF6C60;
	font-weight: 400;
}

.error {
	display: inline;
	margin: 5px 0;
	color: #FF6C60;
	font-weight: 400;
}

.modal-tc {
	width: 75%;
	font-weight: bolder;
	position: relative;
	margin: 10px
}

.label-size {
	color: #434f65;
	font-size: 20px;
	font-style: normal;
	margin-top: 0px;
}

.label-loc-size {
	font-size: x-small;
	color: #fff;
	background-color: #273238;
	font-style: normal;
	padding-left: 9px;
	padding-right: 9px;
	border-radius: 20px;
	margin-top: -5px;
}

.td-space {
	padding-left: 37px;
}

.req-table {
	float: left;
	position: relative;
	display: inline-block;
	padding: 12px;
	background-color: white;
}

.req-table:hover {
	background-color: blue;
}

.menu-col {
	height: 51px;
}

.well-style {
	    padding-left: 9px;
    padding-top: 21px;
    overflow-wrap: normal;
    overflow-x: scroll;
    overflow-y: scroll;
}

.cf-style {
	width: 21px;
	height: 11px;
	font-size: 10px;
}

.cb-style {
	height: 46px;
	font-size: 10px;
	margin-left: 9px;
}

.heading-style {
	height: 10px;
	text-align: center;
	padding-top: initial;
}

/* New dashboard css starts from here */
.menu-left {
	float: left;
}
/* enable absolute positioning */
.inner-addon {
	position: relative;
	margin-top: 8px;
	/*	margin-left: 26px;*/
}

/* style glyph */
.inner-addon .glyphicon {
	position: absolute;
	padding: 10px;
	pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon {
	left: 0px;
}

.right-addon .glyphicon {
	right: 0px;
}

/* add padding  */
.left-addon input {
	padding-left: 30px;
}

.right-addon input {
	padding-right: 30px;
}

.search-input {
	border-radius: 30px !important;
}

.search-label {
	font-size: 12px;
	padding-top: 5px;
	text-transform: uppercase;
}

.notification-menu .dropdown-menu-usermenu {
	background: #cacaca;
	min-width: 200px;
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #aaa;
}

.notification-menu .dropdown-menu li a {
	color: #2a323f !important;
	font-weight: 600;
}

.notification-menu .dropdown-menu li a:hover {
	color: #fff;
}

.grid-icon {
	height: 75px;
	width: 75px;
	border-radius: 150px !important;
	margin-left: 8px !important;
	background: #fff;
}

.grid-text {
	height: 80px;
	padding: 0px !important;
}

.grid-text>h2 {
	color: #fff;
	font-size: 20px;
	padding-left: 10px;
}

.grid-text>p {
	color: #ccc;
	font-size: 13px;
	padding-left: 13px;
	margin-top: -32px
}

/* type 2 starts from here */
.grid-icon2 {
	height: 75px;
	width: 75px;
	border-radius: 150px !important;
	margin-left: 8px !important;
	background: #fff;
}

.grid-text2 {
	height: 80px;
	padding: 0px !important;
}

.grid-text2>h2 {
	color: #fff;
	font-size: 20px;
	padding-left: 10px;
	margin-top: 9px;
}

.grid-text2>p {
	color: #ccc;
	font-size: 13px;
	padding-left: 13px;
	margin-top: -32px
}

.grid-container {
	background-color: #424f62;
	padding-top: 15px;
	border-radius: 28px;
	margin-top: 1%;
	min-height: 455px;
}

.panel {
	background-color: transparent !important;
}

.grid-img {
	margin-left: -10px;
	margin-top: 5px;
}

.grid-img2 {
	margin-left: -9px;
	margin-top: 6px;
}

.grid-img3 {
	margin-left: -10px;
	margin-top: 6px;
}

.grid-img4 {
	margin-left: -9px;
	margin-top: 5px;
}

.slider-box {
	background-color: #263238;
	/* border-radius: 15px; */
	border-top: 7px solid #8BC34A;
	height: 100px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

.right-box {
	background-color: #263238;
	border-top: 7px solid #8BC34A;
	color: #fff;
	height: 100px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.right-box-head {
	text-align: center;
	line-height: 20px;
	font-weight: 600;
	font-family: verdana;
	margin-top: 10px;
	padding-bottom: 7px;
}

.ref-dropdown {
	border-radius: 30px;
	margin-top: -20px;
	background-color: #eee;
	opacity: 0.9;
	width: 200px;
	cursor: pointer;
}

.element {
	text-align: center;
}

.sticky-left-side {
	z-index: 0 !important;
}

.left-side-collapsed .logo-icon img {
	width: 40px !important;
	height: 40px !important;
}

.dropdown-menu-head .title {
	background-color: #37474F;
}

.notification-menu .dropdown-menu:after {
	border-bottom: 6px solid #fff !important;
}

.notification-menu .dropdown-menu li a:hover {
	color: #777 !important;
}

.notification-menu .dropdown-menu li .links:hover {
	color: #fff !important;
}

.heading-style {
	height: 10px;
	text-align: center;
	padding-top: initial;
}

.time-align {
	text-align: right;
}

.content-style {
	overflow-x: auto;
	overflow-y: auto;
	height: inherit;
	height: 149px;
	min-height: 149px;
	max-height: 149px;
}

.pannel-style {
	padding-right: 5%;
}

.select-style {
	width: inherit;
	height: inherit;
}

.alert-style {
	background-color: #212832;
}

.section-style {
	margin-top: -20px;
}

.notification-menu .dropdown-menu li a:hover {
	color: #fff !important;
}

.modal-header {
	background: #263238;
	border-bottom: 6px solid #78909C !important;
}

.panel-heading {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	text-align: left !important;
}

.sticky-footer {
	margin-top: 0px !important;
}

.close_btn {
	background: transparent;
	color: #fff;
}

.modal-header .close {
	background-color: #ECEFF1 !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	color: #263238 !important;
	border-radius: 33px !important;
}

.col-label {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: 700;
	font-size: 13px;
	color: #E64A19;
	font-family: tahoma;
}

#requestDataModal .modal-body {
	margin-left: 20px !important;
	margin-right: 20px !important;
	border: 1px solid #CFD8DC !important;
	background: #F5F5F5;
}

.lbl {
	padding-top: 10px;
	font-size: 14px;
	font-family: tahoma;
	color: #455A64;
}

.inp-box {
	border: 1px solid #ccc;
	padding: 5px;
	margin-left: 32px;
}

.inp-box2 {
	border: 1px solid #ccc;
	padding-bottom: 10px;
	margin-left: 35px;
}

.tabs {
	margin-top: 20px;
}

.pannel {
	margin-top: 30px;
}

.tabs-btn button {
	border-radius: 0px;
}

.panel-head {
	font-weight: 800;
	padding-bottom: 20px;
}

.table-panel {
	border: 1px solid #EEEEEE;
	padding: 20px;
	padding-left: 0px;
	margin-left: 40px;
}

.well-style {
	/*width: 895px;*/
}

.custom-tab.yellow-tab {
	background: #455A64 !important;
}

table.table {
	background-color: #fff !important;
}

.table-bordered {
	background-color: #fff !important;
}

.cf {
	font-family: tahoma !important;
	color: #455A64 !important;
}

.wrap {
	background-image: url("assets/images/dashboard/banner1.jpg");
}

.logo-style {
	background-color: gainsboro;
}

.panel {
	margin-bottom: 0px !important;
	border-radius: 0px !important;
}